body {  
    margin-left: -1px;
    font-style: italic;
    font-family: Segoe Print;
}

header {
    background-color: white;
    color: black;
    font-size: 1.5rem;
    padding: 1rem;
    margin: 0;
}

header a {
    color: rgb(212, 101, 120);
    margin-left: 12px;
}

header a:hover {
    color: black;
    text-decoration: none;
}

#welcome {
    background: linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,.4)), url('https://wallpaperplay.com/walls/full/0/0/5/110972.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    color: white;
}

#shopName {
    color: rgb(240, 58, 88);
    opacity: 1;
    font-size: 7rem;
}

img {
    opacity: 0.9;
}

#about img {
    margin-left: 10rem;
    border-radius: 2rem;
}

#store {
    background-color: rgb(255, 245, 199);
}

.btn {
    font-size: 1.2rem;
    background-color: transparent;
    border-color: black;
    margin-right: 1rem;
    margin-left: 1rem;
}

.btn:hover {
    color: rgb(212, 101, 120);
    background-color: black;
}

form {
    display: flex;
    justify-content: center;
    font-size: 1rem;
}

form button, form input {
    border-radius: 0.25rem;
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    line-height: 1.5;
    padding: .375rem .75rem;
    margin: 0;
    box-shadow: 1px 2px 7px black;
}

form button {
    background-color: rgb(211, 98, 117);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

form input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 40%;
}

#store img {
    cursor: pointer;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    box-shadow: 1px 1px 5px black;
    width: 100%;
}

#table {
    padding-bottom: 5%;
}

.desc {
    display: flex;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    padding: 0.35rem 0.5rem;
    justify-content: space-between;
    background-color: white;
    width: 100%;
    box-shadow: 1px 1px 5px black;
}

.zoom {
    transition: transform .7s; /* Animation */
}
  
.zoom:hover {
    transform: scale(1.25); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.myCard {
    overflow: hidden;
}

.lightbox-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.7) !important;
}

.lightbox-container .btn {
    border-color: transparent;
    background-color: rgb(218, 106, 106);
}

.lightbox-container .btn:hover {
    border-color: black;
    background-color: rgb(238, 62, 62);
    color: rgb(180, 0, 0);
}

.lightbox-container img {
    border-color: black;
    border-style: solid;
    box-shadow: 1px 1px 9px rgb(218, 106, 106);
}