#showScreen {
    border: solid 1px black;
    background-color: rgb(196, 197, 197);
    height: 70px;
    font-size: 3rem;
}

.btn-group {
    margin: 0;
    padding: 0;
}

button {
    border: solid 1px black;
    height: 70px;
}

#operations, #numbers {
    padding: 0;
}